.login {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px 0;
}

.login__label {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
    margin-top: 10px;
    text-align: center;
}

.login__input-text {
    margin: 10px 0;
    padding: 10px 15px;
    border: 1px solid #555;
    border-radius: 5px;
}
.login__input-text:focus {
    border-color: rgb(0, 162, 226);
}

.login__list-input {
    display: none;
    margin: 0 0 10px 0;
    padding: 0 15px 10px 15px;
    border: 1px solid rgb(0, 162, 226);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.login__input-text:focus + .login__list-input {
    display: block;
}

.login__submit {
    margin: 10px 0;
    padding: 10px 15px;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
}

.login__separate {
    padding: 20px 0 0 0;
    text-align: center;
}